<section>

  <div class="section-title-search">
    <h1>Characters</h1>
    <form id="search-bar">
      <input type="text" placeholder="Search" />
    </form>
  </div>

  <div class="new-character-container">
    <div>
      <%= link_to(new_character_path) do %>
      <div>
        <p>Add Character <i class="fa fa-plus" aria-hidden="true"></i></p>
      </div>
      <% end %>
    </div>
  </div>

  <div class="characters-container">
    <span>
      <h2>Autobots</h2>
    </span>
    <div>
      <% @characters.each do |character| %>
        <div class="character-portrait">
          <%= link_to character do %>
            <%= image_tag character.image, class: "character-image" %>
            <p><%= character.name %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</section>
