/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

/*****************************************
NORMALIZE
*****************************************/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: white;
}

p, span {
  font-family: 'Roboto', sans-serif;
}

/*****************************************
CORE
*****************************************/

body {
  width: 100%;
  min-height: 40em;
  background-color: #333;
  background-image: url(http://i.imgur.com/vcmwQxW.png);
  background-size: 18em;

}

#body-background {
  box-shadow: inset 0em 2em 10em 3em rgba(0, 0, 0, 0.2);
  background-color: rgba(50, 50, 50, 0.6);
  /*background-color: white;*/
}

.breadcrumbs {
  margin-bottom: 1.5em;
}

.breadcrumbs span {
  font-size: .85em;
  color: white;
}

.breadcrumbs i {
  position: relative;
  top: .09em;
  font-size: 1.15em;
  margin-right: .25em;
}

.breadcrumbs:hover i {
  color: red;
}
