/*****************************************
CHARACTERS#INDEX
*****************************************/

.characters-container {
  width: 100%;
  margin-top: 2em;
}

.characters-container span h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  color: #ccc;
  margin-bottom: .5em;
}

.characters-container div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.new-character-container {
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
  font-size: .75em;
}

.new-character-container div {
  display: flex;
  justify-content: flex-end;
  width: 9em;
}

.new-character-container div:hover {
  cursor: pointer;
}

.new-character-container div:hover i {
  color: red;
}

.new-character-container i {
  font-size: 1.25em;
  position: relative;
  top: .05em;
  margin-left: .5em;
}

.character-portrait {
  height: 9em;
  width: 9em;
  margin: 0em 1em 3em 0em;
  background-color: #aaa;
  transition: background-color .25s ease;
}

.character-portrait:hover {
  cursor: pointer;
}

.character-portrait:hover img {
  opacity: 0.9;
}

.character-portrait:hover p {
  color: white;
}

.character-portrait p {
  font-family: 'Roboto Condensed';
  font-size: .85em;
  font-weight: normal;
  color: #ccc;
}

.character-image {
  height: 100%;
  width: 100%;
}

/*****************************************
CHARACTERS#EDIT / CHARACTERS#NEW
*****************************************/

.character-form {
  margin-top: 2em;
}

.character-form label {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: .75em;
  font-weight: normal;
}

.character-form input[type="text"] {
  width: 100%;
  height: 3.5em;
  box-sizing: border-box;
  margin: .5em 0 1.5em 0;
  padding-left: 1em;
  font-size: .85em;
}

.character-form textarea {
  width: 100%;
  height: 10em;
  box-sizing: border-box;
  margin: .5em 0 1.5em 0;
  padding-top: 1em;
  padding-left: 1em;
  font-size: .85em;
}

.character-form input[type="submit"] {
  width: 10em;
  height: 3.5em;
  margin: .5em 0 1.5em 0;
  transition: all .1s ease;
}

.character-form input[type="submit"]:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

/*****************************************
CHARACTERS#SHOW
*****************************************/

.character-show-top {
  display: flex;
  justify-content: flex-start;
}

#character-bio-left {
  width: 20%;
  min-width: 15em;
  height: 15em;
  margin-right: 3em;
}

#character-bio-left img {
  width: 15em;
  height: 15em;
}

#character-bio-right {
  width: 100%;
  color: white;
}

#character-bio-right div {
  display: flex;
  justify-content: flex-start;
  margin-bottom: .25em;
}

#character-bio-right div div {
  position: relative;
  left: -.75em;
  padding-left: .7em;
  background-color: #58595b;
  width: 100%;
  height: 3em;
}

#character-bio-right div img {
  position: relative;
  height: 3em;
  width: auto;
  right: 1em;
  transform: scaleY(-1);
}

#character-bio-right div h2 {
  position: relative;
  top: .15em;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: bolder;
  letter-spacing: .035em;
  text-transform: uppercase;
}

#character-bio-right h3, #character-bio-right h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: .035em;
}

#character-bio-right h4 {
  color: #bbb;
  margin-right: .25em;
}

#character-bio-right p {
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  font-weight: 300;
  line-height: 1.45em;
  letter-spacing: .02em;
  white-space: pre-line;
}

// Appearances

.appearances-container {
  margin-top: 2em;
}

.appearances-container h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1em;
  text-transform: uppercase;
  border-bottom: 1px solid #bbb;
  padding-bottom: .75em;
  margin-bottom: 2em;
}
