/*****************************************
NAV
*****************************************/

nav {
  height: 5em;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-left {
  width: 10em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#nav-left h1 {
  font-family: sans-serif;
  font-size: 2.25em;
  font-weight: bolder;
  margin-right: .1em;
}

#nav-left h2 {
  border-top: 3px solid white;
  padding-top: .5em;
  font-family: sans-serif;
  font-size: .6em;
  font-weight: lighter;
  text-transform: uppercase;
  color: #777;
}

#nav-right {
  width: 25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-right span {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

#nav-right span:hover {
  color: red;
  cursor: pointer;
}

/*****************************************
COMMON STYLES FOR SECTIONS
*****************************************/

section {
  padding: 2em 5% 2em 5%;
  width: 90%;
}

section h1 {
  display: flex;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.75em;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}

.section-title-search {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.section-title-search h1 {
  width: 6em;
  margin-right: 1.15em;
}

#search-bar {
  width: 100%;
}

#search-bar input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  height: 3.5em;
  background-color: #222;
  padding-left: 1.5em;
  color: #888;
  font-family: 'Roboto', sans-serif;
  font-weight: light;
  font-size: 1.15em;
  letter-spacing: .035em;
  display: flex;
  align-items: center;
}
